/*CSS*/
*{
  margin: 0;
  padding: 0;
}


aside::after ,
.r-menu::after ,
footer::before ,
footer::after ,
section::after ,
section::before
{
content: ' ';
display: table;
clear: both;
}

body{
  width: 980px;
  margin: 0 auto;
  padding: 0;
  background-color: #ccc;
}

header {
  background-color: #eee;
  
}

section {
width: 980px;
  
}

aside {
  float: left;

  width: 25%;
outline: 1px solid red;
  background-color: #cec;
}

.r-menu{
  width: 75%;
  float: left;
  left: 75%;
 outline: 1px solid red;
  background-color: blue;
}

aside, .r-menu{  
  box-sizing: border-box;
  margin-bottom: -1000px;
  padding-bottom: 990px;
  }


footer{
  float: left;
  
  outline: 1px solid green;
  color: #fff;
  background-color: #000;
}
